fastapi==0.110.0
uvicorn==0.20.0
starlette==0.36.3
pytest==7.4.3
httpx==0.23.0
pyjwt==2.4.0
pytz==2023.3.post1
requests==2.31.0
sqlalchemy==2.0.23
pydantic==2.6.2
aiomysql==0.2.0
greenlet==3.0.2
alembic==1.13.0
werkzeug==3.0.1
